importtesting
importtesting.meta
.DS_Store
DerivedData
Library
Temp
*.csproj
*.pdb
*.pidb
*.ipdb
*.obj
*.iobj
*.idb
*.exp
*.sln
*.sdf
*.opensdf
*.suo
*.vcxproj.filters
*.ipch
*.vcxproj.user
*.userprefs
*btsteamworks.exp
*btsteamworks.lib
code/win/btsteamworks/build
xcuserdata
bin
*node_modules/
*LOG
*UnityVS*
unity/obj/
Builds
